div#info {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

div#content {
	height: 100%;
	width: 100%;
	display: table;
}

body {
	background-color: #333333;
	color: #E6E6E6;
}

a {
	color: #CC7A29;
	font-weight: bold;
}

a:hover {
	color: #FFCC80;
}

.contact {
	font-size: 1.2em;
}

