#playlist-detail {
	width: 800px;
}

#song-list .ui-selecting {
	opacity: 0.5;
}

#song-list .ui-selected {
	opacity: 0.75;
}

#song-list {
	list-style: none;
	list-style-type: none;
	padding: none;
}

.song-title {
	font-weight: bold;
}

.song-item {
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 5px;
}

.standard-song {
	background: gray;
}

.intro-song {
	background: #47B56C;
}

.big-song {
	background: #FF4D4D;
}

.singalong-song {
	background: #00CCFF;
}
