#playlist-detail {
	width: 800px;
}

.cover {
	width: 200px;
	height: 200px;
}

#song-list .ui-selecting {
	opacity: 0.5;
}

#song-list .ui-selected {
	opacity: 0.75;
}

#song-list {
	list-style: none;
	list-style-type: none;
	padding-left:0;
}

#song-list li {
	border-radius: 5px;
}

.song-title {
	font-weight: bold;
}

.song-img-container {
	float: left;
	position: absolute;
}

.song-info-container {
	float: left;
	position: absolute;
}

.song-image { 
	width: 40px;
	height: 40px;
}

.song-item {
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 5px;
	position: relative;
}

.standard-song {
	background: gray;
}

.intro-song {
	background: #47B56C;
}

.big-song {
	background: #FF4D4D;
}

.singalong-song {
	background: #00CCFF;
}
