#playlist-detail {
	width: 800px;
}

#song-list .ui-selecting {
	background: #FECA40;
}

#song-list .ui-selected {
	background: #F39814;
	color: white;
}

#song-list {
	list-style-type: none;
}

.song-title {
	font-weight: bold;
}

.song-item {
	padding-top: 5px;
	padding-bottom: 5px;
}

.intro-song {
	background: green;
}

.big-song {
	background: red;
}

.singalong-song {
	background: blue;
}
